<ion-header>
    <ion-toolbar>
        <ion-title style="background: linear-gradient(to right, #1f96ff , #00569F);">
            <span style="color: white">修改密码</span>
        </ion-title>
        <ion-buttons style="float:left;">
            <button ion-button small icon-only clear (click)="viewList()" style="background-color:rgba(0,0,0,0)">
                <span style="color: white; font-size: 12px;font-weight: bolder;">返回</span>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="limiter">
    <ion-list >
        <ion-item>
            <ion-label required class="label">旧密码</ion-label>
            <ion-input type="password" name="oldPsw" autocomplete="off" placeholder="请输入旧密码（必填）"
                [(ngModel)]="model.oldPsw" #oldPsw="ngModel" required class="inputValue"></ion-input>
        </ion-item>
        <div *ngIf="oldPsw.invalid && oldPsw.dirty" class="form-invalid-tip">
            <div *ngIf="oldPsw.errors.required">密码是必填项</div>
        </div>

        <ion-item>
            <ion-label required class="label">新密码</ion-label>
            <ion-input type="password" name="password" autocomplete="off" placeholder="请输入新密码（必填）"
                [(ngModel)]="model.password" #password="ngModel" required (input)="checkPass($event.target.value)"
                pattern=".{6,20}" class="inputValue"></ion-input>
        </ion-item>
        <div *ngIf="password.invalid && password.dirty" class="form-invalid-tip">
            <div *ngIf="password.errors.required">密码是必填项</div>
            <div *ngIf="password.errors.pattern">密码长度为6到20位</div>
        </div>

        <ion-item>
            <ion-label class="too-long label">再次输入新密码</ion-label>
            <ion-input type="password" name="newPassword" autocomplete="off" placeholder="请输入密码（必填）"
                [(ngModel)]="model.newPassword" #newPassword="ngModel" class="inputValue"></ion-input>
        </ion-item>
        <div *ngIf="newPassword.dirty" class="form-invalid-tip">
            <div *ngIf="ngForm.errors?.passwordInvalid">两次密码输入不一致</div>
        </div>
    </ion-list>

</ion-content>