<ion-header>
  <ion-toolbar>
    <ion-title style="background: linear-gradient(to right, #66cdff , #1f96ff);">
      <span style="color: white">天气预报</span>
    </ion-title>
    <ion-buttons style="float:left;">
      <button ion-button small icon-only clear (click)="goBack()" style="background-color:rgba(0,0,0,0)">
          <span style="color: white; font-size: 12px;font-weight: bolder;">返回</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="tab-panel">
    <div class="tab-panel-item tab-active">
      <div class="aui-text-title">
        <h2><span>{{title}}</span></h2>
      </div>
    </div>
    <div>
        <ion-list no-margin>
            <ion-item *ngFor="let weather of weatherList" (click)="viewDetail(weather.id)" style="padding:2px 20px 2px 20px;">
              <ion-label class="itemlist"><ion-icon name="cloud" color="red" style="font-size: larger;margin-right: 10px;"></ion-icon> {{weather.title}}</ion-label>
            </ion-item>
        </ion-list>
      <!-- <ul>
        <li *ngFor="let weather of weatherList" (click)="viewDetail(weather.id)"><span
            name="s1">{{weather.title}}</span></li>
      </ul> -->
      <!-- <div style="width:100%; text-align:center;">
        <p class="aui-text-title" *ngIf="!hasMore">---数据完全加载---</p>
      </div> -->
    </div>
  </div>

  <ion-infinite-scroll threshold="10%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>