
.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:0 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: url('../../assets/images/bg-login.png');
    position: relative;
    z-index: 1;
}