<ion-header>
  <ion-toolbar>
      <ion-title style="background: linear-gradient(to right, #1f96ff , #00569F);">
          <span style="color: white">天气预报</span>
      </ion-title>
      <ion-buttons style="float:left;">
          <button ion-button small icon-only clear (click)="viewList()" style="background-color:rgba(0,0,0,0)">
            <span style="color: white; font-size: x-small;font-weight: bolder;">返回</span>
          </button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="tab-panel">
    <div class="tab-panel-item tab-active">
      <div class="aui-text-title">
        <h2><span>{{weatherInfo.title}}</span></h2>
        <p>{{title}}</p>
      </div>
      <div class="aui-table" [innerHTML]="assembleHTML(weatherInfo.content)">
        <!-- <p>
          {{weatherInfo.content}}
        </p> -->
      </div>
    </div>
  </div>
</ion-content>