<ion-header>
  <ion-toolbar>
    <ion-title style="background: linear-gradient(to right, #1f96ff , #00569F);">
      <span style="color: white">首 页</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="aui-scrollView">
  <div class="sec_picture">
    <div class="wrap-pic">
      <div class="container">
        <div class="test" *ngFor="let item of imgList">
          <img [src]="item.imgUrl" style="max-width: 100%; height: 80px;" />
          <span text-center>{{item.title}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="sec_notice">
    <div class="wrap-notice">
      <div class="shouRight">
        <ul class="slideTopbox" slide-scroll style="top:0px;" *ngFor="let item of  noticeList"
          (click)="viewDetail(item.id)">
          <li>{{item.title}}</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="sec_weather">
      <div class="wrap-weather">
          weather
        </div> 
  </div> -->

</ion-content>