.newsTitle{
    width: 100%;
    margin-top: 20px;
    text-align:center;
    font-size: 16px;
}
.newsTime{
    width: 100%;
    text-align: right;
    font-size: 14px;
    padding-right: 20px;
    margin-top: 20px;
}

.newsContext{
    width: 100%;
    text-align: lefy;
    font-size: 16px;
    padding: 15px;
    line-height: 25px;
}

.newsAuthor{
    width: 100%;
    text-align: right;
    font-size: 14px;
    padding-right: 20px;
    margin-top: 20px;
}