.temper{
  font-size: 12px; 
  line-height: 26px;
}

.temper li{
  list-style-type:none;
}
.aui-text-title h2{
   text-align: center;
   font-size: 16px;
}

.aui-text-title p{
  text-align: center;
  font-size: 14px;
}