<ion-header>
  <ion-toolbar>
    <ion-title style="background: linear-gradient(to right, #66cdff , #1f96ff);">
      <span style="color: white">数据监测</span>
    </ion-title>
    <ion-buttons style="float:left;">
        <button ion-button small icon-only clear (click)="viewList()" style="background-color:rgba(0,0,0,0)">
          <span style="color: white; font-size: 12px;font-weight: bolder;">返回</span>
        </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="tab-panel">
    <div class="tab-panel-item tab-active">
      <div class="aui-text-title">
        <h2><span>{{station_info.station_name}}</span></h2>
        <p><span>东经：{{station_info.east_longitude}}</span> &nbsp;
          &nbsp;<span>北纬：{{station_info.northern_latitude}}</span></p>
      </div>
    </div>
    <div class="aui-table">
      <h5 style="text-align: center;"><span style="font-weight: bolder; margin-left: 5%;">当前海水温度</span></h5>
      <ul class="table-nav">
          <li class="table-nav-item" style="width: 20%;">
            <span>时间</span>
          </li>
        <li class="table-nav-item">
          <span>3m</span>
        </li>
        <li class="table-nav-item">
          <span>6m</span>
        </li>
        <li class="table-nav-item">
          <span>9m</span>
        </li>
        <li class="table-nav-item">
          <span>12m</span>
        </li>
        <li class="table-nav-item">
          <span>20m</span>
        </li>
      </ul>
      <ul class="table-item">
          <li class="table-info-item" style="width: 20%; background-color: #f4faff; border-bottom: 1px solid #d9d9d9;">
            <span>
              {{currentSeaTemperature.time}}
            </span>
          </li>
        <li class="table-info-item">
          <span>
            {{currentSeaTemperature.t3}}°C
          </span>
        </li>
        <li class="table-info-item">
          <span>
            {{currentSeaTemperature.t6}}°C
          </span>
        </li>
        <li class="table-info-item">
          <span>
            {{currentSeaTemperature.t9}}°C
          </span>
        </li>
        <li class="table-info-item">
          <span>
            {{currentSeaTemperature.t12}}°C
          </span>
        </li>
        <li class="table-info-item">
          <span *ngIf="currentSeaTemperature.t20 != ''">
            {{currentSeaTemperature.t20}}°C
          </span>
        </li>
      </ul>
    </div>
    <div>
      <div class="panel-chart" echarts [options]="chartSeaTemperatureOption"></div>
    </div>

    <div class="aui-table">
      <h5 style="text-align: center;"><span style="font-weight: bolder; margin-left: 5%;">潮汐数据</span>
      </h5>
      <div class="aui-text-title">
        <p><span>公历：{{publicDate}}</span> &nbsp;
          &nbsp;<span>阴历：{{moonDate}}</span></p>
      </div>
      <ul class="table-nav">
        <li class="table-nav-item-short">
          <span>潮时1</span>
        </li>
        <li class="table-nav-item-short">
          <span>潮高1</span>
        </li>
        <li class="table-nav-item-short">
          <span>潮时2</span>
        </li>
        <li class="table-nav-item-short">
          <span>潮高2</span>
        </li>
        <li class="table-nav-item-short">
          <span>潮时3</span>
        </li>
        <li class="table-nav-item-short">
          <span>潮高3</span>
        </li>
        <li class="table-nav-item-short">
          <span>潮时4</span>
        </li>
        <li class="table-nav-item-short">
          <span>潮高4</span>
        </li>
      </ul>
      <ul class="table-item" *ngFor="let item of seaTides">
        <li class="table-info-item-short">
          <span>
            {{item.floodTime1}}
          </span>
        </li>
        <li class="table-info-item-short">
          <span>
            {{item.floodHigh1}}
          </span>
        </li>
        <li class="table-info-item-short">
          <span>
            {{item.floodTime2}}
          </span>
        </li>
        <li class="table-info-item-short">
          <span>
            {{item.floodHigh2}}
          </span>
        </li>
        <li class="table-info-item-short">
          <span>
            {{item.floodTime3}}
          </span>
        </li>
        <li class="table-info-item-short">
          <span>
            {{item.floodHigh3}}
          </span>
        </li>
        <li class="table-info-item-short">
          <span>
            {{item.floodTime4}}
          </span>
        </li>
        <li class="table-info-item-short">
          <span>
            {{item.floodHigh4}}
          </span>
        </li>
      </ul>
    </div>
    <div style="margin-top: 15px;;">
      <div>
        <!-- <div style="color: darkorange; text-align: center; ">以下数据尚无法获取，此图为模拟数据</div> -->
        <ul class="temper">
          <li>当前气温：{{temperatureShelf.currentTa}}°C 当前最高气温：{{temperatureShelf.maxTa}}°C</li>
          <li>平均气温：{{temperatureShelf.averageTa}}°C 当前最低气温：{{temperatureShelf.minTa}}°C</li>
        </ul>
      </div>
      <div class="panel-chart" echarts [options]="chartTemperatureOption"></div>
    </div>
  </div>
</ion-content>