<ion-header>
  <ion-toolbar>
    <ion-title style="background: linear-gradient(to right, #66cdff , #1f96ff);">
      <span style="color: white">天气预报</span> 
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>

  <div class="aui-table">
    <ul class="table-nav">
      <li class="table-nav-item1" (click)="viewList(1)">
        <span>短期天气预报</span>
      </li>
      <li class="table-nav-item1" (click)="viewList(2)">
        <span>旬天气预报</span>
      </li>
      <li class="table-nav-item1" (click)="viewList(3)">
        <span>月天气预报</span>
      </li>
      <li class="table-nav-item1" (click)="viewList(4)">
        <span>季天气预报</span>
      </li>
      <li class="table-nav-item1" (click)="viewList(5)">
        <span>年天气预报</span>
      </li>
      <li class="table-nav-item1" (click)="viewList(6)">
        <span>月气候评估</span>
      </li>
    </ul>
  </div>
</ion-content>