<ion-header>
  <ion-toolbar>
    <ion-title style="background: linear-gradient(to right, #1f96ff , #00569F);">
      <span style="color: white">数据监测</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="tab-panel">
    <div class="aui-text-title">
      <h2><span style="font-weight: bolder;">区站列表</span></h2>
      <p>海温站数据</p>
    </div>
    <ion-list no-margin>
      <ion-item (click)="viewTemperature('Z0001:褡裢岛南部','Z0001')" style="padding:2px 20px 2px 20px;" *ngIf="checkEquip('Z0001')">
        <ion-label  class="itemlist">
          <ion-icon name="boat" color="#00569F" style="font-size: larger;margin-right: 10px;"></ion-icon> Z0001:褡裢岛南部
        </ion-label>
      </ion-item>
      <ion-item (click)="viewTemperature('Z0002:獐子岛南洋','Z0002')" style="padding:2px 20px 2px 20px;" *ngIf="checkEquip('Z0002')">
        <ion-label class="itemlist">
          <ion-icon name="boat" color="default" style="font-size: larger;margin-right: 10px;"></ion-icon>Z0002:獐子岛南洋
        </ion-label>
      </ion-item>
      <ion-item (click)="viewTemperature('Z0003:小耗岛北部','Z0003')" style="padding:2px 20px 2px 20px;" *ngIf="checkEquip('Z0003')">
        <ion-label class="itemlist">
          <ion-icon name="boat" color="default" style="font-size: larger;margin-right: 10px;"></ion-icon>Z0003:小耗岛北部
        </ion-label>
      </ion-item>
      <ion-item (click)="viewTemperature('Z0004:獐子岛沙包','Z0004')" style="padding:2px 20px 2px 20px;" *ngIf="checkEquip('Z0004')">
        <ion-label class="itemlist">
          <ion-icon name="boat" color="default" style="font-size: larger;margin-right: 10px;"></ion-icon>Z0004:獐子岛沙包
        </ion-label>
      </ion-item>
      <ion-item (click)="viewTemperature('Z0005:獐子岛西部','Z0005')" style="padding:2px 20px 2px 20px;" *ngIf="checkEquip('Z0005')">
        <ion-label class="itemlist">
          <ion-icon name="boat" color="default" style="font-size: larger;margin-right: 10px;"></ion-icon>Z0005:獐子岛西部
        </ion-label>
      </ion-item>
      <ion-item (click)="viewTemperature('Z0006:大耗岛南部','Z0006')" style="padding:2px 20px 2px 20px;" *ngIf="checkEquip('Z0006')">
        <ion-label class="itemlist">
          <ion-icon name="boat" color="default" style="font-size: larger;margin-right: 10px;"></ion-icon>Z0006:大耗岛南部
        </ion-label>
      </ion-item>
      <ion-item (click)="viewTemperature('Z0007:小耗岛西部','Z0007')" style="padding:2px 20px 2px 20px;" *ngIf="checkEquip('Z0007')">
        <ion-label class="itemlist">
          <ion-icon name="boat" color="#00569F" style="font-size: larger;margin-right: 10px;"></ion-icon> Z0007:小耗岛西部
        </ion-label>
      </ion-item>
      <ion-item (click)="viewTemperature('Z0008:海洋岛东部','Z0008')" style="padding:2px 20px 2px 20px;" *ngIf="checkEquip('Z0008')">
        <ion-label class="itemlist">
          <ion-icon name="boat" color="default" style="font-size: larger;margin-right: 10px;"></ion-icon>Z0008:海洋岛东部
        </ion-label>
      </ion-item>
      <ion-item (click)="viewTemperature('Z0009:大耗岛西部','Z0009')" style="padding:2px 20px 2px 20px;" *ngIf="checkEquip('Z0009')">
        <ion-label class="itemlist">
          <ion-icon name="boat" color="default" style="font-size: larger;margin-right: 10px;"></ion-icon>Z0009:大耗岛西部
        </ion-label>
      </ion-item>
      <ion-item (click)="viewTemperature('Z0010:褡裢岛东北','Z0010')" style="padding:2px 20px 2px 20px;" *ngIf="checkEquip('Z0010')">
        <ion-label class="itemlist">
          <ion-icon name="boat" color="default" style="font-size: larger;margin-right: 10px;"></ion-icon>Z0010:褡裢岛东北
        </ion-label>
      </ion-item>
      <!-- <ion-item (click)="viewCurrent('獐子岛南洋','2')">
        <ion-label>
          <ion-icon name="arrow-round-back" color="default"></ion-icon>獐子岛南洋
        </ion-label>
      </ion-item>
      <ion-item (click)="viewCurrent('褡裢岛北部','2')">
        <ion-label>
          <ion-icon name="arrow-round-back" color="default"></ion-icon>褡裢岛北部
        </ion-label>
      </ion-item>
      <ion-item (click)="viewCurrent('大耗岛西部','2')">
        <ion-label>
          <ion-icon name="arrow-round-back" color="default"></ion-icon>大耗岛西部
        </ion-label>
      </ion-item>
      <ion-item (click)="viewCurrent('小耗岛西部','2')">
        <ion-label>
          <ion-icon name="arrow-round-back" color="default"></ion-icon>小耗岛西部
        </ion-label>
      </ion-item>
      <ion-item (click)="viewCurrent('礁流岛东部','2')">
        <ion-label>
          <ion-icon name="arrow-round-back" color="default"></ion-icon>礁流岛东部
        </ion-label>
      </ion-item> -->
    </ion-list>
  </div>
</ion-content>